html {
    background-color: #90a9b7;
}
.entry-point {
    display: flex;
    flex-direction: column;
}

#entryLog {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.entries__Section {
    display: flex;
}
.single_entry {
    width: 100%;
    min-height: 20vw;
    background-color: cornsilk;
    border-radius: .5vw 2vw .5vw 2vw;
    margin: -.7em 0 1em 0;
    padding: 2%;
    z-index: 1;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.date__Concepts {
    display: flex;
    justify-content: space-around;
}
.popCard {
    background-color: cornsilk;
    margin-left: 1em;   
    padding: .4vw 1vw 0 1vw;
    border-radius: 1.3vw 1.3vw 0 0;
    border-top: solid 1px black;
    min-width: 40%;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
}

.entries__button__container {
    display: flex;
    justify-content: space-evenly;
}

#filter__Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 4vw;
   
    
}

.md__Button{
    
    
}

label {
    border:  solid 1px black;
    padding: .7vw;
    border-radius: 0 2vw 0 2vw;
    background-color: rgba(255, 248, 220, 0.40);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}
input:checked + label {
    border:  solid 1px black;
    padding: .7vw;
    border-radius: 0 2vw 0 2vw;
    background-color: rgba(255, 248, 220, 0.70);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 3px 6px 10px 0 rgba(0, 0, 0, 0.4);
    font-size: 2vw;
}

#sort__By__Mood {
    background-color: #efd09e;
}
.popMoods {
    background-color: #efd09e;
    padding: .4vw 1vw 0 1vw;
    border-radius: 1.3vw 1.3vw 0 0;
    border-top: solid 1px black;
    font-size: 2.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}